.markdown {
    max-width: 900px;
}

.markdownBody {
    flex: 1;
    width: 100%;
    padding: 0 16px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-fg-default);
    }
}
