@media screen and (max-width: 1520px) {
    .increaseWeight .markNavbarBox {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .increaseWeight.markdown {
        width: 100%;
        .markdownBodyBox,
        .markdownBody {
            width: 100%;
        }
    }

    .increaseWeight .markNavbarBox {
        display: none;
    }
}

.markdown {
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.markNavbarBox {
    top: 0;
    width: 250px;
    height: 100vh;
    position: sticky;
    word-break: break-word;
}

.markNavbar {
    overflow: auto;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    position: -webkit-sticky;
    transition: @boxShadowTransition;

    .scrollStyle();

    &:hover {
        .boxShadowHover(@color:var(--global-box-shadow-hover-color));
    }
}

.markdownBodyBox {
    margin: auto;
    max-width: 900px;
}

.markdownBody {
    flex: 1;
    width: 100%;
    padding: 0 16px;
}
