.sidebar-light {
    --component-sidebar-top-icon-color: var(--global-primary-background-color);
}

.sidebar-dark {
    --component-sidebar-top-icon-color: #87c0ca;
}

.sidebar {
    top: 80%;
    opacity: 1;
    z-index: 1;
    right: 16px;
    display: flex;
    position: fixed;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    transition: @boxShadowTransition;
    transition: opacity 300ms ease-in-out 0s;
    color: var(--component-sidebar-top-icon-color);
    &:hover {
        .boxShadowHover(@color:var(--global-box-shadow-hover-color));
    }
}

.sidebarHide {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

.goTop {
    font-size: 50px;
    cursor: pointer;
}
