# http://editorconfig.org
# 此文件作用在这里似乎没有, 被 prettier 平替了.
# 先保留此文件吧, 暂时不删.
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
