.gpt3 {
    padding: 20px;
    text-align: center;
}

.content {
    
}

.extraInfo {
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.apiKey {
    padding-left: 10px;
    width: max-content;
}

.gpt3Chat {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.textarea {
    width: 500px;
    border: 1px solid #80808061;
    border-radius: 10px;
    resize: none;
    outline: none;
    padding: 16px;
}

.submitBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    cursor: pointer;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #80808073;
    border-radius: 11px;
    transition: all 0.3s ease-in-out 0s;

    &:hover {
        background-color: var(--global-primary-background-color);
    }
}
