:global {
    .ant-image-mask {
        background-color: transparent;
    }
    .ant-card-body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.card {
    border-radius: 70px;
    margin: 50px;
    width: 450px;
    height: 514px;
    background-color: var(--card-background-color);

    .image {
        border-radius: 70px;
    }

    .content {
        flex: 1;
        padding: 25px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            display: flex;
            justify-content: center;
            font-size: 30px;
        }
        .description {
            overflow: hidden;
            text-overflow: ellipsis;
            text-indent: 1rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .info {
            display: flex;
            justify-content: space-between;
            & > div {
                display: flex;
                align-items: center;
            }
            & svg {
                margin-right: 5px;
            }
        }
        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 0;

            .tag {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

.preview {
    display: none;
}
