.card-light {
    --component-card-icon-color: #000000;
    --component-card-background-color: #ffffff;
}

.card-dark {
    --component-card-icon-color: #ffffff;
    --component-card-background-color: #000000;
}

@borderRadius: 70px;

:global {
    .ant-image-mask {
        background-color: transparent;
    }

    .ant-card-body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .ant-card-hoverable:hover {
        .boxShadowHover(@color:var(--global-box-shadow-hover-color));
    }

    .ant-image .ant-image-mask,
    :where(.css-dev-only-do-not-override-17sses9).ant-image .ant-image-mask {
        border-radius: @borderRadius;
    }
}

.card {
    width: 450px;
    height: 514px;
    border-radius: @borderRadius;
    background-color: var(--component-card-background-color);
}

.image {
    border-radius: @borderRadius;
}

.content {
    flex: 1;
    gap: 10px;
    display: flex;
    padding: 25px 0;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    display: flex;
    font-size: 30px;
    justify-content: center;
}

.description {
    max-height: 52px;
    overflow: hidden;
    text-indent: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.info {
    gap: 10px;
    display: flex;
    justify-content: space-between;

    & > div {
        .textOverflowEllipsis;

        flex: 1;
        gap: 5px;
        display: flex;
        align-items: center;

        & > div {
            .textOverflowEllipsis;
        }
    }

    & > div:last-child {
        justify-content: end;
    }
}

.author,
.time {
    color: var(--component-card-icon-color);
}

.tags {
    gap: 10px 0;
    display: flex;
    flex-wrap: wrap;
    max-height: 55px;
    overflow-y: auto;
    .scrollStyle();

    .tag {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.preview {
    display: none;
}

@media screen and (max-width: 768px) {
    .card {
        width: 300px;
        height: 400px;
    }
}
