[data-theme='dark']:root {
    --primary-text-color: rgba(255, 255, 255, 0.65);
    --secondary-text-color: '';
    --primary-background-color: #062c1c;
    --secondary-background-color: #0f0d0a;
    --card-background-color: #000000;
    --moon-sun: #b1d5c8;
}

[data-theme='light']:root {
    --primary-text-color: rgba(0, 0, 0, 0.65);
    --secondary-text-color: '';
    --primary-background-color: #f9d3e3;
    --secondary-background-color: #f0f2f5;
    --card-background-color: #ffffff;
    --moon-sun: #f7eead;
}
