body {
    background:#fff;
}
.navbar {
    display: none
}

.blogStats {
   color: #fff;
   padding-right: 10px;
    visibility: visible;
}

a#Header1_HeaderTitle:hover {
  text-decoration: none;
}

#cnblogs_post_body h3 {
   font-size: 18px
}

.postBody {
    line-height: 2;
    color: #222;  
    font-size: 13px;
}
