<!DOCTYPE html>
<html data-theme="light">
    <head>
        <meta charSet="utf-8" />
        <meta name="description" content="yomua">
        <meta name="keywords" content="yomua">
        <meta name="author" content="yomua">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title></title>
        <link
            rel="icon"
            type="image/x-icon"
            href="<%= context.config.publicPath %>favicon.png"
        />

    </head>
    <style>
        * {
            box-sizing: border-box;
        }

        body,
        div,
        dl,
        dt,
        dd,
        ul,
        ol,
        li,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        pre,
        code,
        form,
        fieldset,
        legend,
        input,
        p,
        blockquote,
        th,
        td {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }

        a:link {
            color: none;
        }

        html {
            line-height: 1.15;
            /* 1 */
            -webkit-text-size-adjust: 100%;
            /* 2 */

            background-color: var(--global-primary-background-color);
        }

        body {
            background-color: transparent !important;
        }

        main {
            display: block;
        }

        hr {
            box-sizing: content-box;
            overflow: visible;
            border: none;
        }
    </style>

    <body>
        <div id="root"></div>
    </body>
</html>
