<!DOCTYPE html>
<html data-theme="light">
    <head>
        <meta charSet="utf-8" />
        <meta name="description" content="yomua" />
        <meta name="keywords" content="yomua" />
        <meta name="author" content="yomua" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title></title>
    </head>
    <style>
        * {
            box-sizing: border-box;
        }

        body,
        div,
        dl,
        dt,
        dd,
        ul,
        ol,
        li,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        pre,
        code,
        form,
        fieldset,
        legend,
        input,
        p,
        blockquote,
        th,
        td {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }

        a:link {
            color: none;
        }

        html {
            line-height: 1.15;
            /* 1 */
            -webkit-text-size-adjust: 100%;
            /* 2 */
        }

        body {
            background-color: var(--global-primary-bg-color) !important;
        }

        main {
            display: block;
        }

        hr {
            box-sizing: content-box;
            overflow: visible;
            border: none;
        }
    </style>

    <body>
        <div id="root"></div>
    </body>

    <script>
        const urlParams = new URLSearchParams(window.location.search)
        const redirected = urlParams.get('redirected')

        if (redirected === 'true') {
            document.addEventListener('DOMContentLoaded', function () {
                if (location.pathname.includes('/feature/article')) {
                    const articlePath = location.pathname.replace(
                        '/feature',
                        '',
                    )

                    localStorage.setItem('redirectedHref', location.href)

                    history.replaceState(
                        null,
                        null,
                        `${location.origin}/feature/article${location.hash}?redirected=true`,
                    )
                    const popStateEvent = new PopStateEvent('popstate')
                    window.dispatchEvent(popStateEvent)
                } else {
                    window.location.href =
                        location.origin || 'https://www.whyhw.com'
                }
            })
        }
    </script>
</html>
