.article-light {
    --article-text-color: rgb(35, 39, 47);
    --article-bg-color: #fff;
    --article-border-color: #00000033;
    --article-tree-hover-color: #f5f5f5;
}
.article-dark {
    --article-text-color: #c9d1d9;
    --article-bg-color: #0d1117;
    --article-border-color: #30363d;
    --article-tree-hover-color: #f5f5f545;
}

@media screen and (max-width: @showOnlyArticleMaxWidth) {
    // 隐藏所有文章目录
    .articleFileTree {
        display: none;
    }
}

@media screen and (max-width: @showAllStructureMinWidth) {
    // 隐藏文章目录
    .article-markdown .markdown-navbar-box {
        display: none;
    }
}

// 没有 scope css
.article-markdown {
    width: 100%;

    .markdown-navbar-box {
        top: 62px;
    }

    .markdown-body-box {
        width: 100%;
        margin: 0 auto; // 文章左右居中
    }
}

.article {
    display: flex;
    position: relative;
}

.ant-tree.ant-tree-directory .ant-tree-treenode:hover::before {
    background-color: var(--article-tree-hover-color);
}

.articleFileTree {
    top: 62px; // 减去头部高度
    width: 400px;
    height: 100vh;
    min-width: 400px;
    position: sticky;
    overflow-y: auto;
    align-items: center;
    background-color: var(--article-bg-color);

    .scrollStyle();

    &:hover {
        .boxShadowHover(@color:var(--global-box-shadow-hover-color));
    }
}

.directoryTree {
    width: 100%;
    height: 100%;
    border-right: 1px solid var(--article-border-color);
    transition: @boxShadowTransition;
    background-color: var(--article-bg-color);
    color: var(--article-text-color);
}

.skeleton {
    padding: 16px;
}

.markdown {
    flex: 1;
}

.button {
    position: fixed;
    top: 20px;
}

.showDirectorOnlyArticle {
    display: block;
    width: 100%;
}

.hideMarkdownOnlyArticle {
    display: none;
}
