.header-light {
    --layouts-header-theme-icon-color: #f7eead;
}
.header-dark {
    --layouts-header-theme-icon-color: #87c0ca;
}

// 若 文章所有目录（左边的目录）存在
@media screen and (min-width: @showOnlyArticleMaxWidth) {
    .header .menuIcon {
        opacity: 0;
        pointer-events: none;
    }
}

// 若仅仅显示文章
@media screen and (max-width: @showOnlyArticleMaxWidth) {
    .header .title,
    .header .menuIcon {
        font-size: 26px;
    }

    .header .themeIcon,
    .header .menuIcon {
        width: 26px;
        height: 26px;
    }
}

.header {
    top: 0;
    z-index: 1;

    position: sticky;
    background-color: var(--global-primary-bg-color);
    backdrop-filter: blur(12px);
    height: 62px;
}

.headerInfo {
    height: 100%;
    padding: 0 16px 0 16px;
    align-items: center;
    justify-content: space-between;
}

.menuIcon {
    cursor: pointer;
    font-size: 30px;
    border-radius: 50%;
}

.hideMenuIcon {
    opacity: 0;
    pointer-events: none;
}

.menuIcon,
.themeIcon {
    cursor: pointer;
    transition: @boxShadowTransition; // 反向过渡; 即: 结束到开始也触发过渡效果
    color: var(--layouts-header-theme-icon-color);

    &:hover {
        .boxShadowHover(@color: var(--global-box-shadow-hover-color));
    }
}

.hideLeftIcon {
    opacity: 0;
    pointer-events: none;
}

.title {
    display: flex;
    font-size: 40px;
    cursor: pointer;
    justify-content: center;
}

.navigation {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.themeIcon {
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 30px;
    border-radius: 50%;
}
