/** 全局 css 已在入口 css 文件导入，即： src/index.less */

.footer-light {
    --layouts-footer-primary-background-color: var(
        --global-primary-background-color
    );
}
.footer-dark {
    --layouts-footer-primary-background-color: var(
        --global-primary-background-color
    );
}

.footer {
    padding: 50px;
    background-color: var(--layouts-footer-primary-background-color);
}
