.footer-light {
    --layouts-footer-primary-background-color: var(
        --global-primary-background-color
    );
}
.footer-dark {
    --layouts-footer-primary-background-color: var(
        --global-primary-background-color
    );
}

.footer {
    padding: 50px;
    background-color: var(--layouts-footer-primary-background-color);
}
